body{
	background-color: #8cada7 !important;
	padding-bottom: 70px;
}

.primary{
	background-color: #558C8C;
	
}
.banner{
	width: 100%;
	height: 93vh;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/contact.jpg");
	background-size: cover;
	color: white;
}

.bannerForUser{
	width: 100%;
		height: 78vh;
		background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/userHome.png");
		background-size: cover;
		color: white;
}
.my-card{
	color: white;
	padding: 20px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}



.sidebar{
	width: 18%;
	background: #f2f4cb;
	height:100%;
	position: fixed;
	padding-top: 45px;
}

@media only screen and (max-width: 600px){
	.sidebar{
		display: none;
		width: 80% !important;
		height:100%;
		position: fixed;
		padding-top: 45px;
	}
	.content{
		margin-left: 0% !important;
	}
}

.sidebar-hidden {
  display: none;
  
}

.content-expanded {
  margin-left: 4% !important;
  
}


.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: #231123;
}

.sidebar a:hover{
	background: #e2e2e2;
}

.sidebar .divider{
	height: 0.5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}


.content{
	margin-left: 20%;
	margin-right: 4%;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.my_profile_picture{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.search-container{
	position: relative;
	width: 35%;
}

#search-result{
	width:100%;
	position: absolute;
	background-color: rgb(236, 237, 233);
	border: 1px solid rgb(192, 192, 192);
	display: none;
	
}






